# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source code
*.php text diff=php

# Docker
*.dockerignore text export-ignore
Dockerfile text export-ignore
docker-compose.yml export-ignore

# Documentation
*.md text diff=markdown export-ignore
/docs/** export-ignore

# Git config
.gitattributes text export-ignore
.gitignore text export-ignore
.gitconfig text export-ignore

# Development files
/tests/** export-ignore
/recipes/** export-ignore
/.github/** export-ignore
phpunit.xml.dist export-ignore
phpstan.neon export-ignore
.php-cs-fixer.dist.php export-ignore
.editorconfig export-ignore
.env.example export-ignore
composer.lock export-ignore

